<div class="h-screen w-screen flex bg-gray-100">
  <aside class="flex flex-col items-center h-full bg-gray-800 text-gray-200 mr-2">
    <nav>
      <ul>
        <li>
          <a class="h-16 px-5 flex justify-center items-center w-full border-b" routerLink="/" routerLinkActive="">Home</a>
        </li>
        <li>
          <a class="h-16 px-5 flex justify-center items-center w-full border-b" routerLink="/new" routerLinkActive="bg-gray-400">New</a>
        </li>
        <li>
          <a class="h-16 px-5 flex justify-center items-center w-full border-b" routerLink="/video-sync" routerLinkActive="bg-gray-400">Sync</a>
        </li>
        <li>
          <a class="h-16 px-5 flex justify-center items-center w-full border-b" routerLink="/about" routerLinkActive="bg-gray-400">About</a>
        </li>
        <li *ngIf="auth.user | async as user; else showLogin">
          <a class="h-20 px-5 flex justify-center items-center w-full border-b flex flex-col" routerLink="/login" routerLinkActive="bg-gray-400">
              <img [src]="user.photoURL" width="35px" class="rounded-full block"/>
              <div>Logout</div>
          </a>
        </li>
        <ng-template #showLogin>
          <a class="h-16 px-5 flex justify-center items-center w-full border-b" routerLink="/login" routerLinkActive="bg-gray-400">
            Login
          </a>
        </ng-template>
      </ul>
    </nav>
  </aside>

  <router-outlet></router-outlet>
</div>
