<div class="flex flex-row">
    <div class="mr-2 w-64">
        <fieldset class="border border-solid border-gray-300 p-3 mt-2 mb-2">
            <legend class="text-sm">Event informations</legend>
            <div>
                <label for="idevent_name" class="block">Event Name: </label>
                <input id="idevent_name" [(ngModel)]="event_name" type="text">
            </div>
        </fieldset>

        <fieldset class="border border-solid border-gray-300 p-3 mb-2">
            <legend class="text-sm">Adding videos</legend>
            <div>
                <label for="service-select" class="block">Select video service: </label>
                <select name="vide-services" id="service-select">
                    <option value="twitch">Twitch.tv</option>
                </select>
            </div>
            <div>
                <label for="new_video" class="block">New video id: </label>
                <input id="new_video" [(ngModel)]="new_video_id" type="text">
            </div>
            <button (click)="add_new_video()" class="btn-green mt-2">Add</button>
        </fieldset>

        <button (click)="publish()" class="btn-green mr-2">Publish</button>
        <span>OR Copy the link: </span>
        <p class="m-4 break-all">{{ temporary_link }}</p>
    </div>
    <div class="grid grid-cols-2 h-full">
        <div class="border border-solid border-gray-300 p-3 mt-2 mb-2" *ngFor="let v of videos">
            <app-twitch-player [video_id]="v.video_id"></app-twitch-player>
            <button (click)="place_marker(v)" class="btn-green">Place marker</button>
            <span>Current Offset {{ v.offset * 1000 | date:'HH:mm:ss':'+0000' }}</span>
        </div>
    </div>
</div>


